@{
    ViewData["Title"] = "CallApiUsingUserAccessToken";
}

<div class="text-center">
    <h1 class="display-4">Delete Skill</h1>
</div>

<h2>JWT Token</h2>

<pre>@ViewBag.token</pre>

<h2>API response</h2>

<pre>@ViewBag.Json</pre>

