@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br />
<div>
    <h4>About</h4>
    <p> This webapp has as to purpose to show how a logged user can interact with "Contacts API" thanks to a JWT token (using identityserver4 -> oauth2). </p>
    <p> To send a custom request to Contacts API you can use Postman with the JWT token </p>
    <p> Default accounts -> [{username: alice, pwd: alice}, {username: bob, pwd: bob}] </p>
    <br />
</div>
<div>
    <h4>JWT Token</h4>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="JwtToken">Get JWT token</a>
        </li>
    </ul>
    <br />
    <h4>Get</h4>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GetContacts">Get contacts</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GetSkills">Get skills</a>
        </li>
    </ul>
    <br />
    <h4>Generate and Post</h4>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GenerateAndPostContact">Generate and post a contact</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="GenerateAndPostSkill">Generate and post a skill</a>
        </li>
    </ul>
    <br />
    <div>
        <h4>Link</h4>
        <div>
            <p>Link a contact and a skill using put</p>
            <form method="get" asp-area="" asp-controller="Home" asp-action="LinkSkillToContact">
                <div>
                    <div>
                        <label for="contact_id">ContactId:</label>
                        <input id="contact_id" name="contact id" type="number" value="1" />
                    </div>
                    <div>
                        <label for="skill_id">SkillId:</label>
                        <input id="skill_id" name="skill id" type="number" value="1" />
                    </div>
                </div>
                <button>
                    Link
                </button>
            </form>
            <br />
        </div>
        <br />
        <div>
            <h4>Delete</h4>
            <div>
                <div>
                    <p>Delete a contact</p>
                    <form method="get" asp-area="" asp-controller="Home" asp-action="DeleteContact">
                        <div>
                            <div>
                                <label for="contact_id">Contact id:</label>
                                <input id="contact_id" name="contactId" type="number" value="1" />
                            </div>
                        </div>
                        <button>
                            Delete
                        </button>
                    </form>
                </div>
                <br />
                <div>
                    <p>Delete a skill</p>
                    <form method="get" asp-area="" asp-controller="Home" asp-action="DeleteSkill">
                        <div>
                            <div>
                                <label for="skill_id">Skill id:</label>
                                <input id="skill_id" name="skillId" type="number" value="1" />
                            </div>
                        </div>
                        <button>
                            Delete
                        </button>
                    </form>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
